@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url(Assets/bg.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Poppins, sans-serif;
}


nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.1);
    position: relative;
    z-index: 100;
}


nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #15b551;
}

nav a:hover{
    background-color: #ebfff3;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(255, 255, 255, 0.7);
    backdrop-filter: blur(7px);
    box-shadow: -10px 0 10px rgba(0,0,0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

.text-box{
    margin-top: 130px;
    max-width: 600px;
    margin-left: 5%;
}

.text-box h1{
    font-size: 50px;
    margin-bottom: 20px;
    color: black;
}

.text-box p{
    margin-bottom: 20px;
}

.text-box a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #15b551;
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 7px;
}

.user-box{
    position: absolute;
    top:0;
    right: 12%;
    z-index: 1;
}

.user-box img{
    display: block;
    width: 400px;
    margin-top: 100px;
    margin-bottom: -105px;
    border-radius: 50%;
    border: 10px solid #15b551;
}
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }

    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
       width: 100%; 
    }
}
